{{ "{% extends '::base.html.twig' %}" }}

{{ "{% block css %}" }}
{{ "{{ parent() }}" }}
<link href='{{ "{{ asset('/css/admin/base.css') }}" }}' type="text/css" rel="stylesheet" />
<link href='{{ "{{ asset('/css/admin/edit.css') }}" }}' type="text/css" rel="stylesheet" />
{{ "{% endblock %}" }}

{{ "{% block js %}" }}
{{ "{{ parent() }}" }}
<script type="text/javascript">

    Event.on(window,'load', function() {
    
        live.forms.get('{{ route_name_prefix }}_create').success(function(form) {
        
           // open modal
            live.loader.display({
                title: 'Creating {{ entity }}',
                height:75,
                width:300,
                top:250,
                img:'/img/public/loading.gif'
            }); 
        
            form.request({
            
                onSuccess:function() {
                
                    live.loader.close();
                    
                    window.location = '{{ "{{ path('"~ route_name_prefix ~"') }}" }}';
                }
                
            });    
            
        });
        
        live.forms.get('{{ route_name_prefix }}_create').failure(function() { 
            alert('The form did not validate');     
        });
        
    });
    
</script>
{{ "{% endblock %}" }}

{{ "{% block module %}" }}
<div class="view-container edit-view wrapper">

    <h1 class="view-header">Create A {{ entity }}</h1>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'views/actions/edit.actions.html.twig' %}

    <form class="live-form" name='{{ route_name_prefix }}_create' id='{{ route_name_prefix }}_create' action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button class="button-green" type="submit">Create {{ entity }}</button>
        </p>
    </form>
    
</div>
{{ "{% endblock %}" }}